.App {
	display: grid;
	justify-content: center;
	/* background-color: rgb(21, 133, 133); */
}

.header {
	text-align: center;
}

.ice-cream-form {
	display: grid;
	justify-content: center;
	/* float: right; */
	/* grid-template-columns: auto auto; */
	/* margin-left: 25%; */
}

.lists {
	display: grid;
	grid-template-columns: repeat(2, minmax(0 , 1fr)); /* make cols equal in width*/
	justify-content: center; 
}