.App {
	display: grid;
	justify-content: center;
	/* background-color: rgb(21, 133, 133); */
}

.header {
	text-align: center;
}

.ice-cream-form {
	display: grid;
	justify-content: center;
}

.lists {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
}