.list {
	margin: 10px;
}

.delete-button {
	float: right;
	margin-right: 5px;
	margin-left: 10px;
}

.edit-button {
	float: right;
	margin-right: 5px;
	margin-left: 10px;
}

.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}